.shell {
  display: grid;
  grid-template-columns: 272px minmax(0, 1fr);
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-background-color);
}

@media (max-width: 960px) {
  .shell {
    grid-template-columns: 1fr;
  }
}
