body {
  color: var(--light-text-color);
  background-color: var(--dark-background-color);
  font-family: var(--primary-font-family);
  margin: 0;
  height: 100%;
  display: flex;
  place-items: center;
}

.newchatPage {
  text-align: center;
  font-size: 2rem;
  width: 80%;
  margin: 0em 12em;

  .newchatHeader {
    display: flex;
    justify-content: center;

    .logo {
      background-color: pink;
      border-radius: 50%;
      height: fit-content;
      padding: 0.7em;
      margin: 0px 15px;
      align-self: center;
    }
  }
  .newchatInput {
    color: var(--dark-text-color);
    background-color: var(--grey-background-color);
    padding: 0.2em 0.5em 0.5em 0.6em;
    border-radius: 5px;

    input[type="file"] {
      display: none;
    }

    .uploadSection {
      justify-self: self-start;

      .uploadButton {
        color: var(--dark-text-color);
        background-color: var(--grey-background-color);
        font-family: var(--primary-font-family);
        font-size: 1rem;

        border: 2px solid var(--dark-text-color);
        border-radius: 55px;
        border-color: var(--dark-text-color);
        padding: 5px 10px;
        margin-right: 20px;

        cursor: pointer;
        font-weight: bold;
        transition: 0.2s ease-in-out;

        text-align: center;

        .uploadIcon {
          width: 20px;
          height: auto;
          margin-bottom: -4px;
        }
      }

      .fileName {
        color: var(--dark-text-color);
        background-color: var(--grey-background-color);
        font-family: var(--primary-font-family);
        font-size: 1rem;

        border: 2px solid var(--dark-text-color);
        border-radius: 55px;
        border-color: var(--dark-text-color);
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
    .textInput {
      border: none;
      box-shadow: none;
      background-color: var(--grey-background-color);
      padding: 0.2em 30em 8em 0.2em;
    }

    .textInput:focus {
      outline: none;
      border-color: var(--grey-background-color);
    }

    .submitButton {
      background-color: var(--medium-background-color);
      border: none;
      border-radius: 5px;
      padding: 10px 28px;
      cursor: pointer;
      display: flex;
      justify-self: end;
    }
  }
}
