body {
  color: var(--light-text-color);
  background-color: var(--dark-background-color);
  font-family: var(--primary-font-family);
  margin: 0;
  height: 100%;
  display: flex;
  place-items: center;
}

.newchatPage {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  justify-items: center;
  margin: 0em 12em;

  .newchatHeader {
    display: flex;
    justify-content: center;

    .logo {
      background-color: pink;
      border-radius: 50%;
      height: 7em;
      padding: 0.7em;
      margin: 0px 15px;
      align-self: center;
    }
  }

  .grid {
    width: 19.5%;
    justify-self: end;
    .message {
      color: white;
      justify-self: end;
      background-color: var(--lightOrange-background-color);
      padding: 10px 20px;
      margin: 15px 0px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px var(--pink-background-color);
    }
  }

  .newchatInput {
    color: var(--dark-text-color);
    background-color: var(--grey-background-color);
    padding: 0.2em 0.5em 0.5em 0.6em;
    border-radius: 5px;
    text-align: justify;
    width: 75%;

    input[type="file"] {
      display: none;
    }

    .uploadSection {
      justify-self: self-start;

      .uploadButton {
        color: var(--dark-text-color);
        background-color: var(--grey-background-color);
        font-family: var(--primary-font-family);
        font-size: 1rem;

        border: 2px solid var(--dark-text-color);
        border-radius: 55px;
        border-color: var(--dark-text-color);
        padding: 5px 10px;
        margin-right: 20px;
        box-shadow: none;

        cursor: pointer;
        font-weight: bold;
        transition: 0.2s ease-in-out;

        text-align: center;

        .uploadIcon {
          width: 20px;
          height: auto;
          margin-bottom: -4px;
        }
      }

      .fileName {
        color: var(--dark-text-color);
        background-color: var(--grey-background-color);
        font-family: var(--primary-font-family);
        font-size: 1rem;

        border: 2px solid var(--dark-text-color);
        border-radius: 55px;
        border-color: var(--dark-text-color);
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
  }
}
