.chatInput {
  width: 100%;
  padding: 0px 50px 0px 0px;
  display: grid;
  gap: 0.75rem;

  .textInput {
    font-family: var(--primary-font-family);
    color: var(--light-text-color);
    border: none;
    box-shadow: none;
    background-color: var(--grey-background-color);
    font-size: 1.05rem;
    line-height: 1.5;
    padding: 0.2em 2em 2em 1em;
    margin: 10px 0px;
    width: 94%;
    min-height: 6rem;
    resize: vertical;
  }

  .textInput:focus {
    outline: none;
    border-color: var(--grey-background-color);
  }

  .submitButton {
    color: var(--light-text-color);
    background-color: var(--lightOrange-background-color);
    border: none;
    border-radius: 5px;
    padding: 6px 28px;
    margin: 0;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-self: end;
  }

  .submitButton:hover {
    background-color: var(--darkOrange-background-color);
    transition: 0.2s ease-in-out;
  }

  .submitButton:disabled,
  .textInput:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}
