.chatInput {
  padding: 0;

  .textInput {
    font-family: var(--primary-font-family);
    color: var(--light-text-color);
    border: none;
    box-shadow: none;
    background-color: var(--grey-background-color);
    font-size: 1.3rem;
    padding: 0.2em 2em 2em 1em;
    margin: 10px 0px;
    width: 94%;
    /* word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap; */
  }

  .textInput:focus {
    outline: none;
    border-color: var(--grey-background-color);
  }

  .submitButton {
    color: var(--light-text-color);
    background-color: var(--lightOrange-background-color);
    border: none;
    border-radius: 5px;
    padding: 6px 28px;
    margin: 0;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-self: end;
  }

  .submitButton:hover {
    background-color: var(--darkOrange-background-color);
    transition: 0.2s ease-in-out;
  }
}
