body {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    margin: 0;
}

#mainWindow {
    text-align: center;
    padding: 5%;
    width: 100%;
}

#app {
    background-color: yellow;
    padding: 10%;
    text-decoration: none;
    color: black;
}

#row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}