body {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: center;
    margin: 0;
}

.a {
    width: 30%;
}

#mainWindow {
    text-align: center;
    width: 100%;
    height: 100%;
}

.row-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0 0 0;
    width: 100%;
}

.app {
    background-color: var(--lightOrange-background-color);
    border-radius: 10px;
    width: 40%;
    height: 10%;
    padding: 0 2.5% 0 2.5%;
    text-decoration: none;
    color: #ffffff;
}

#appTitle {
    font: bold 3em var(--primary-font-family), sans-serif;
}

#appDesc {
    margin: -2em 0 1.5em 0;
    font: 1.5em var(--primary-font-family), sans-serif;
}