html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--dark-background-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 15px 0 15px 0;
}

tr:nth-child(even) {
    background-color: rgb(156, 156, 156);
}

tr:nth-child(odd) {
    background-color: rgb(169, 169, 169);
}

.appTitle {
    text-align: left;
    margin-left: 30px;
}

.logContent {
    background-color: darkgray;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 2.5% 0 2.5%;
    display: flex;
    justify-content: center;
    width: max-content;
}

.gestChatContent {
    background-color: gray;
}

.logUser {
    color: #000000;
    text-decoration: none;
}

h1 {
    font: bold 3em var(--primary-font-family);
    color: var(--light-text-color);
}

.sideBar {
    background-color: var(--lightOrange-background-color);
}

.appIcon {
    height: 15px;
}

.mainContent {
    text-align: center;
}

.mainTextbox {
    margin: 0 0 20px 0;
    padding-left: 15px;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    font-size: larger;
}

.row-2 {
    display: flex;
    margin: 25px 0 25px 0;
    justify-content: space-evenly;
    padding: 0 40px 0 40px;
}

.app {
    background-color: var(--lightOrange-background-color);
    border-radius: 5px;
    width: 40%;
    padding: 0 2.5% 0 2.5%;
    text-decoration: none;
    color: var(--light-text-color);
}

.appIconTitle {
    font: bold 3em var(--primary-font-family), sans-serif;
}

.appDesc {
    font: 1.5em var(--primary-font-family), sans-serif;
    word-break: break-all;
}