body {
  color: var(--light-text-color);
  background-color: var(--dark-background-color);
  font-family: var(--primary-font-family);
  margin: 0;
  height: 100%;
  display: flex;
}

.settingsTitle{
    font-size: 3rem;
}
.settingsSection{
    margin-left: 1em;
}

.settingUsername, .settingsUploads{
    font-size: 1.5rem;
    margin: 30px 0px 15px 0px;
}

.settingsInput{
    margin-left: 15px;
    padding: 10px 40px 10px 10px;
    font-size: 1rem;
    color: var(--light-text-color);
    background-color: var(--grey-background-color);
    border: none;
    border-radius: 3px;
}

.settingsInput:focus{
    outline: none;
}