body {
  font-family: var(--primary-font-family);
}

.historyPage {
  width: 80%;
  margin: 0em 12em;
  display: flex;
  flex-direction: column;

  .historyTitle {
    text-align: start;
    font-size: 3.5rem;
  }

  .searchbar {
    background-color: var(--grey-background-color);
    padding: 0em 0.5em 0em 0em;
    border-radius: 5px;
    align-self: start;
    padding: 25px;
    margin: 40px;

    .searchbarInput {
      border: none;
      box-shadow: none;
      background-color: var(--grey-background-color);
      font-size: 2rem;
      width: 100%;
      font-family: var(--primary-font-family);
      color: var(--dark-text-color);
    }

    .textInput:focus {
      outline-style: none;
      border-color: var(--grey-background-color);
    }
  }

  .historyContent{
    .component{
        background-color: var(--darkOrange-background-color);
        padding: 3px 15px;
        border-radius: 6px;
        color: var(--dark-text-color);

        .componentTitle{
            font-size: 5rem;

        }

        .componentText{

        }

    }

    .component:hover{
        background-color: orange;
    }
  }
}
