body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sidebar {
  background-color: var(--lightOrange-background-color);
  font-family: var(--secondary-font-family);
  font-size: 1.4rem;
  min-height: 100vh;
  width: 17em;
  margin: 0;

  .headerSidebar {
    background-color: var(--pink-background-color);
    padding: 2px 18px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    .buttonSidebar{
      align-self: center;
      padding: 0px 10px;
      border: none;
      color: var(--light-text-color);
      background-color: var(--dark-text-color);
      padding: 8px 23px;
    }
  }

  .listSidebar {
    list-style: none;
    padding-left: 0px;

    .hrSidebar {
      color: var(--darkOrange-background-color);
    }
    a:link {
      border: none;
      border-radius: 2px;
      text-decoration: none;
      background-color: none;
      color: var(--light-text-color);
      display: block;
      margin: 0px 5px;
      padding: 2px 35px 4px 15px;
    }
    a:visited {
      text-decoration: none;
      color: var(--light-text-color);
    }

    a:hover {
      color: #be7827;
      transition-duration: 0.4s;
      background-color: var(--darkOrange-background-color);
      padding-left: 20px;
    }

    a:active {
      color: var(--dark-text-color);
    }
  }
}

.mainChat {
  align-items: center;
}
